<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/main.css">
  <title>A simple Node.js blog!</title>
</head>

<body>

<div id="new-post">
  <h1>Hello from Node.js!</h1>

  <h2>New Post</h2>
  <p>There are currently <%= posts.length %> posts in the database. Would you like to create a new one?</p>

  <form action="/" method="POST">
    <p>
      <label for="author_email">Author E-Mail:</label><br>
      <input type="text" name="author_email" id="author_email">
    </p>

    <p>
      <label for="title">Title:</label><br>
      <input type="text" name="title" id="title">
    </p>

    <p>
      <label for="body">Post Body:</label><br>
      <textarea rows="6" cols="60" name="body" id="body"></textarea>
    </p>

    <input type="submit" value="Save Post">
  </form>
</div>








<div id="posts-list">
  <h1>Posts</h1>
  <ul id="posts">
    <% posts.forEach(function(p){ %>
      <li><a href="/posts/<%= p.id %>"><%= p.title %></a> <%= p.author_email %></li>
    <% }) %>
  </ul>
<div>





</body>
</html>